*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{font-family: 'Roboto, sans-serif';}

h1{font-size: 3em; font-weight: bold;}
h2{font-size: 2.5em;}
h3{font-size: 1.5em; font-weight: bold;}
p{font-size: 20px;}
li{font-size: 20px; display: block;  font-weight: 700;}
a{text-decoration: none; color: aliceblue;}


button{

    padding: 15px 10px;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
    border: none;
}

.btn-blue{
    background-color: #2FB591;
}

.btn-yellow{
    background-color: #F3CC29;
}

.container{
    max-width: 1400px;
    margin: auto;
}

/*navbar*/

.header{
    background-color: #EBAE03;
}

.header .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
}

.header .logo{
    background-image: url("/proyecto4/img/pngwing.com.png");
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 8px;
}
 .navbar li{
    text-align: center;
    color: white;
 }


/*section1*/

#section1{
    background-color: #FFC300;
    margin-bottom: 50px;
}

#section1 .container{
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 23px;
    text-align: center;
}

#section1 .text p{
    margin-bottom: 40px;
}

#section1 .text h1{
    padding-bottom: 20px;
}

#section1 button:hover{
    background-color: rgb(255, 250, 250);
    color:#2FB591;
}

/*section2*/

#section2{
    background-color: #FFFFFF;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#section2 .container{
    display: flex;
    flex-direction: column;    
}
    

#section2 .dog2{
    background-image: url("/proyecto4/img/bulldog-g283389f59_1920.jpg");
    width: 250px ;
    height: 250px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 20px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.8);
}

#section2 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section2 .text h2{
    padding-bottom: 20px;
    font-weight: bold;
    margin: 0 10px;
}

#section2 p{
    padding-bottom: 20px;
    margin: 0 10px;
}

#section2 button:hover{
    background-color: rgb(255, 250, 250);
    color:#2FB591;
}

/*section3*/

#section3{
    background-color: #FFC300;
    height: 105vh;
    color: #FFFFFF;
    padding-bottom: 60px;
}

#section3 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section3 .text h2{
    padding: 25px 0;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card{
    height: 200px;
    width: 250px;
    background-size: cover;
    background-position: center center;
    margin: 20px 0;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.8);
}

.card:first-child{
    background-image: url("/proyecto4/img/card1.jpg");
}

.card:nth-child(2){
    background-image: url("/proyecto4/img/card2.jpg");
}
.card:nth-child(3){
    background-image: url("/proyecto4/img/card3.jpg");
}

/*footer*/

.footer{
    height: 33vh;
    background-color: #303231 ;
    color: #FFFFFF;
    
}

.footer h3{
    margin: 10px;
    color: #ffffff;

}

.footer li{
    color: #d7d0d0;
}

.footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;

}

.footer .descripcion{
    margin: 10px 10px;
}

@media (min-width: 860px){

    .header .container{

        flex-direction: row;
        justify-content: space-between;

    }

    .header {
        width: 100%;
        position: fixed;
    }

     .navbar ul li{
        display: inline-block;
        padding: 0 20px;
     }

     #section1 .container{

        height: 100vh;
        display: flex;
     }
     
    #section1 .text{
        width: 50%;
        margin: 0 30px;
    }


     #section1 .dog{

        width: 50%;
        background-image: url("/proyecto4/img/perros.png");
        width: 400px;
        height: 400px;
        background-position: center center;
        background-size: cover;
     }

     #section2 .container {
        display: flex;
        flex-direction: row;
        
     }

     #section2 .dog2{
        width: 50%;
        height: 400px;
     }

     #section2 .text{
        width: 50%;
        margin: 0 30px;

     }

     #section3 {

        display: flex;
        justify-content: center;
        align-items: center;
  
     }
     #section3 p{

        margin-bottom: 60px;
  
     }

     #section3 .cards{
        display: flex;
        flex-direction: row;
        gap: 40px;
   
     }

     #section3.text{
        width: 50%;
        
     }

     .footer{
        height: 20vh;
     }

     .footer .container{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        
     }

}